<div class="mb-3">
  <%= render @menu %>
</div>

<div class="d-flex">
  <%= link_to "Edit", edit_menu_path(@menu), class: "btn btn-success me-3" %>
  <%= button_to "Delete", @menu, method: :delete, class: "btn btn-outline-danger" %>
</div>
