<div id="<%= dom_id recipe %>" class="card h-100">
  <% if recipe.picture.representable? %>
    <%= link_to recipe, target: "_top" do %>
      <div
        class="recipe-header"
        style="--bg-img-url: url('<%= url_for(recipe.picture.variant(:medium)) %>')"
      ></div>
    <% end %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to recipe.name, recipe, target: "_top" %></h5>
  </div>
</div>
