@import "trix";
@import "actiontext";
@import "bootstrap";
@import "font-awesome";

.recipe-header {
  height: 0;
  padding-top: 75%;
  background-image: var(--bg-img-url);
  background-size: cover;
  background-position: center;
}

// forms
form:not(.button_to) {
  label {
    @extend .form-label;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    @extend .form-control;
  }
  [type="submit"] {
    @extend .btn, .btn-primary;
  }
}
