/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --accent-bg: #fcfffd;
  --accent: #22ba6e;
  --accent-light: #B3FBFF;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #212121;
    --accent-bg: #2B2B2B;
    --text: #DCDCDC;
    --text-light: #ABABAB;
    --border: #666;
    --accent: #22ba6e;
    --accent-light: #B3FBFF;
    --code: #F06292;
    --preformatted: #CCC;
    --disabled: #111;
  }

  img, video {
    opacity: 1;
  }
}

h1 small,
h2 small,
h3 small {
  font-size: 0.5em;
  color: #cfcfcf;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.flash {
  padding: 0.5rem;
}
.flash.notice {
  background-color: var(--accent);
}
